body {
    font-family: "Bitter", serif;
    font-weight: 400;
}

.skills__paragraph {
    font-family: "Poppins", serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.hero-section__title {
    font-family: "Ubuntu", serif;

}

.hero-section__text {
    font-family: "Poppins", serif;
    font-size: 0.9rem;
    font-weight: 300;
 }
